@model IEnumerable<AppData.ViewModels.HoaDonVM>

@{
    ViewData["Title"] = "ShowAllHD";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Quản Lý Hóa Đơn</h3>
        </div>
        <div class="card-body" style="max-width: 100%; overflow-x: auto;">
<table class="table">
    <thead>
        <tr>
        
            <th>
                @Html.DisplayNameFor(model => model.MaHD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenTK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiNhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PTThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.TienShip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
      
            <th>
                @Html.DisplayNameFor(model => model.TenVoucher)
            </th>
                        <th><spam>Thao tác</spam></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
   
            <td>
                @Html.DisplayFor(modelItem => item.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayShip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTK)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.PTThanhToan)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TienShip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                                @if (item.TrangThai == 0)
                                {
                                    <span id="quantity_value">Hủy Đơn hàng </span>
                                }
                                else if (item.TrangThai == 1)
                                {
                                    <span id="quantity_value">Đặt hàng thành công </span>
                                }
                                else if (item.TrangThai == 2)
                                {
                                    <span id="quantity_value">Shop đang chuẩn bị hàng </span>
                                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenVoucher)
            </td>
            <td>
                                <a class="btn btn-primary" href="@Url.Action("XacNhan","HoaDon",new{idhd=item.Id})">Xác Nhận Đơn</a>  
                                <a class="btn btn-primary" href="@Url.Action("ShowAllHDCT","HoaDon",new{idhd=item.Id})">Sản Phẩm</a>
           
            </td>
        </tr>
}
    </tbody>
</table>
        </div>


        <div class="card-footer">
        </div>

    </div>

</section>