@using System.Globalization;
@model IEnumerable<AppData.ViewModels.HoaDonVM>

@{
    ViewData["Title"] = "ShowAllHD";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" type="text/css" href="~/client/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/client/styles/single_responsive.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- ========================= SECTION CONTENT ========================= -->
<div class="row">
    <p>Fix lỗi  nav rộng</p>
    <p></p>
    <p></p>
</div>
<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <section class="section-content padding-y">
            <div class="container">

                <div class="row">
                    <main class="col-md-12">
                        <div class="card">

                            <table class="table table-borderless table-shopping-cart">
                                <thead class="text-muted">
                                    <tr class="small text-uppercase">
                                        <th scope="col" width="120">Mã HD </th>
                                        <th scope="col" width="120">Ngày Mua Hàng</th>
                                        <th scope="col" width="120">Tổng Tiền</th>
                                        <th scope="col" width="320">Địa Chỉ</th>
                                        <th scope="col" width="120">Trạng Thái</th>
                                        <th scope="col" class="text-right" width="200"> </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {



                                        if (item.IdUser == ViewBag.UserId )
                                        {

                                            <tr>
                                                <td>
                                                    <figure class="itemside">


                                                        <figcaption class="info">                                                      
                                                            <a href="#" class="title text-dark">@item.MaHD</a>
                                                        </figcaption>
                                                    </figure>
                                                </td>
                                                <td>
                                                    <div class="price-wrap">

                                                        <span id="quantity_value">@item.NgayTao</span>

                                                    </div>

                                                </td>
                                                <td>
                                                    <div class="price-wrap">
                                                        <var class="price">
                                                            @(
                                                                string.Format(new CultureInfo("vi-VN"), "{0:C0}", item.TongTien)
                                                                )
                                                        </var>

                                                    </div>
                                                    <!-- price-wrap .// -->
                                                </td>
                                                <td>
                                                    <div class="price-wrap">
                                                        <span id="quantity_value">@item.DiaChi</span>

                                                    </div>
                                                    <!-- price-wrap .// -->
                                                </td>
                                                <td>
                                                    <div class="price-wrap">
                                                        @if(item.TrangThai == 0)
                                                        {
                                                            <span id="quantity_value">Hủy Đơn hàng </span>
                                                        }else if (item.TrangThai == 1)
                                                        {
                                                            <span id="quantity_value">Đặt hàng thành công </span>
                                                        }else if (item.TrangThai == 2)
                                                        {
                                                            <span id="quantity_value">Shop đang chuẩn bị hàng </span>
                                                        }

                                                        

                                                    </div>
                                                    <!-- price-wrap .// -->
                                                </td>
                                                <td class="text-right">
                                                    <a href="@Url.Action("ShowAllHDCT","HoaDon",new { idhd=item.Id })">  <button class="btn btn-primary">Hóa ĐơnCT</button></a>
                                                    @if (item.TrangThai != 0 && item.TrangThai != 2)
                                                    {
                                                        <a href="@Url.Action("Delete","HoaDon",new { idhd=item.Id })"> <button class="btn btn-danger">Hủy Đơn Hàng</button></a>
                               
                                                    }

                                                </td>
                                            </tr>

                                        }

                                    }

                                </tbody>
                            </table>

                            <div class="card-body border-top">
                                <a href="" class="btn btn-primary float-md-right">Xóa Hết </a>
                                <a href="@Url.Action("ShowAllSanPham","SanPham")" class="btn btn-light">Quay Lai</a>
                            </div>
                        </div>
                        <!-- card.// -->

                        <div class="alert alert-success mt-3">
                            <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                        </div>

                    </main>

                </div>

            </div>
            <!-- container .//  -->
        </section>

    </div>
</div>

<script src="~/client/js/single_custom.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>