@model AppData.ViewModels.BlogVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title"> Thông Tin Chức Vụ</h3>

        </div>
        <div class="card-body">
            @using (Html.BeginForm("Edit", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(p => p.Id)
                <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Tiêu Đề</label>
                            @Html.TextBoxFor(p => p.TieuDe, new { @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.TieuDe, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nôi Dung</label>
                            <dev class="col-md-10">
                                <textarea class="form-container" name="NoiDung" id="iuputNoiDung">@Model.NoiDung</textarea>
                                @Html.ValidationMessageFor(Model => Model.NoiDung, "", new { @class = "text-danger" })
                            </dev>
                        </div>
                        <div class="form-group">
                            <label>Tải ảnh lên</label>
                            <input type="file" id="UrlAnh" name="UrlAnh" class="form-control-file" />

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Trạng Thái</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="TrangThai" id="TrangThai1" value="1" checked
                                @(Model.TrangThai == 1 ? "checked" : "")>
                                <label class="form-check-label" for="TrangThai1">
                                    Còn hoạt động
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="TrangThai" id="TrangThai2" value="2"
                                @(Model.TrangThai == 2 ? "checked" : "")>
                                <label class="form-check-label" for="TrangThai2">
                                    Không hoạt động
                                </label>
                            </div>

                        </div>
                        <div class="form-group">
                            <a href="/Admin/ChucVu/ShowAllCV" class="btn btn-primary">Quay Lại</a>
                            <button type="Submit" class="btn btn-danger">Sửa</button>
                        </div>


                    </div>

                </div>

            }

        </div>


        <div class="card-footer">
        </div>

    </div>

</section>
@section  HieuJS{
    <script>
        CKEDITOR.replace('iuputNoiDung')
    </script>
}
