@model IEnumerable<AppData.ViewModels.BlogVM>

@{
    ViewData["Title"] = "ShowAllBog";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Quản Lý Blog</h3>
            <div class="d-flex justify-content-end">

                <a href="@Url.Action("Create","Blog")">
                    <button type="button" class="btn btn-primary">
                        <i class="bi bi-pencil-square"> Thêm</i>
                    </button>
                </a>

            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        @*<th>
                        @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                        @Html.DisplayNameFor(model => model.IdUser)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.NguoiDang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TieuDe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NoiDung)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UrlAnh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NgayTao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TrangThai)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.TrangThai != 0)
                        {
                            <tr>
                                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.IdUser)
                        </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.NguoiDang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TieuDe)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoiDung)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UrlAnh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayTao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TrangThai)
                                </td>

                                <td>
                                    <a class="btn btn-primary" href="@Url.Action("Edit","Blog",new{id=item.Id})">Sửa</a>
                                    <a class="btn btn-warning" href="@Url.Action("Delete","Blog",new{id=item.Id})">Xóa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>


        <div class="card-footer">
        </div>

    </div>

</section>
