@using AppData.ViewModels;
@model AppData.ViewModels.UserVM
@{
    ViewData["Title"] = "DetailUsers";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    List<DiaChiVM> listDiaChi = ViewBag.DiaChiData;
    List<ChucVuVM> listChucVu = ViewBag.ChucVuData;
    int stt = 1;
}


<div class="container contact_container">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="@Model.Url"
                                     alt="User profile picture">
                            </div>

                            <h4 class="profile-username text-center">Người dùng:@Model.HoTen</h4>

                            <p class="text-muted text-center">Tài Khoản:@Model.TenTaiKhoan</p>
                            <p class="text-muted text-center">Chức Vụ:@Model.ChucVu</p>
                            <a class="btn btn-primary" href="@Url.Action("Edit","User",new{id=Model.Id})" style="margin-left:30px">Cập Nhập Thông Tin</a>


                

                        </div>
                        <!-- /.card-body -->
                    </div>

                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông Tin</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Địa Chỉ</a></li>
                               
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <h4>Thông Tin Người Dùng</h4>
                                    <h5>Email: @Model.Email</h5>
                                    <h5>SĐT: @Model.SDT</h5>
                                    <dev>

                                        @if (Model.GioiTinh == 0)
                                        {
                                            <h5>giới Tính: Nam</h5>
                                        }
                                        else if (Model.GioiTinh == 1)
                                        {
                                            <h5>giới Tính: Nữ</h5>
                                        }
                                        else
                                        {
                                            <h5>giới Tính: Chưa Câp Nhật</h5>
                                        }


                                    </dev>
                                   

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="timeline">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Đia Chỉ</th>
                                               

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in listDiaChi)
                                            {

                                                @if (item.IdUser == Model.Id && item.TrangThai != 0)
                                                {
                                                    <tr>
                                                        <th scope="row">@stt</th>
                                                        <td><span>@item.Ten</span></td>
                                                      

                                                    </tr>
                                                    stt++;
                                                }

                                            }


                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.tab-pane -->
                
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>
