@using AppData.ViewModels;
@model AppData.ViewModels.UserVM
@{
    ViewData["Title"] = "ShowACC";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<DiaChiVM> listDiaChi = ViewBag.DiaChiDaTe;
    List<VoucherVM> listVoucher = ViewBag.VouCherDaTe;
    int stt = 0;
}

<link rel="stylesheet" href="~/Admin/dist/css/adminlte.min.css">


<div class="row">
    <p>Fix lỗi  nav rộng</p>
    <p></p>
    <p></p>
</div>
<div class="row">

    <div class="col">

        <!-- Breadcrumbs -->
        <div class="breadcrumbs d-flex flex-row align-items-center">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
            </ul>
        </div>

    </div>
</div>
<div class="row">
    <div class="col">

        <!-- Breadcrumbs -->
        <div class="breadcrumbs d-flex flex-row align-items-center">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
            </ul>
        </div>

    </div>
</div>
@*bắt đầu *@
<div class="container contact_container">

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                 src="@Model.Url"
                                 alt="User profile picture">
                        </div>

                        <h4 class="profile-username text-center">Người dùng:@Model.HoTen</h4>

                        <p class="text-muted text-center">Tài Khoản:@Model.TenTaiKhoan</p>
                        <p class="text-muted text-center">Chức Vụ:@Model.ChucVu</p>



                            @using (Html.BeginForm("EditAcc", "Acc", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Cập Nhập Thông Tin
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Thông Tin</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                @Html.HiddenFor(p => p.Id)

                                                <div class="form-group">
                                                    <label for="HoTen">Tên Người Dùng</label>
                                                    @Html.TextBoxFor(p => p.HoTen, new { @class = "form-control", id = "HoTen" })
                                                    @Html.ValidationMessageFor(Model => Model.HoTen, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group">
                                                    <label for="Url">Tải ảnh lên</label>
                                                    <input type="file" id="Url" name="Url" class="form-control-file" />
                                                </div>

                                                <div class="form-group">
                                                    <label for="Email">Email</label>
                                                    @Html.TextBoxFor(p => p.Email, new { @class = "form-control", id = "Email" })
                                                    @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group">
                                                    <label for="MatKhau">Mật Khẩu</label>
                                                    @Html.TextBoxFor(p => p.MatKhau, new { @class = "form-control", id = "MatKhau" })
                                                    @Html.ValidationMessageFor(Model => Model.MatKhau, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group">
                                                    <label for="SDT">SĐT</label>
                                                    @Html.TextBoxFor(p => p.SDT, new { @class = "form-control", id = "SDT" })
                                                    @Html.ValidationMessageFor(Model => Model.SDT, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="form-group">
                                                    <label for="GioiTinh">Giới Tính</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="GioiTinh" id="GioiTinh" value="0" @(Model.GioiTinh == 0 ? "checked" : "")>
                                                        <label class="form-check-label" for="GioiTinh">Nam</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="GioiTinh" id="GioiTinh1" value="1" @(Model.GioiTinh == 1 ? "checked" : "")>
                                                        <label class="form-check-label" for="GioiTinh1">Nữ</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quay Về</button>
                                                <button type="submit" class="btn btn-primary btn-block">Cập Nhật Thông Tin</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                    </div>
                    <!-- /.card-body -->
                </div>

                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông Tin</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Địa Chỉ</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Vorcher Shop</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="activity">
                                <h4>Thông Tin Người Dùng</h4>
                                    <h5>Email: @Model.Email</h5>
                                    <h5>SĐT: @Model.SDT</h5>
                                    <dev>
                                        
                                        @if (Model.GioiTinh == 0)
                                        {
                                            <h5>giới Tính: Nam</h5>
                                        }
                                        else if (Model.GioiTinh == 1)
                                        {
                                            <h5>giới Tính: Nữ</h5>
                                        }
                                        else
                                        {
                                            <h5>giới Tính: Chưa Câp Nhật</h5>
                                        }


                                    </dev>
                                    <h5>Số Điểm: @Model.SoDiem</h5>

                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="timeline">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Đia Chỉ</th>
                                                <th scope="col"></th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in listDiaChi)
                                            {
                                                
                                               @if (item.IdUser == ViewBag.UserIdData && item.TrangThai != 0)
                                                {
                                                    <tr>
                                                        <th scope="row">@(stt + 1)</th>
                                                        <td><span>@item.Ten</span></td>
                                                        <td>
                                                           @* <a class="btn btn-primary" href="@Url.Action("Create","DiaChi",new{id=item.Id})">Thêm</a>
                                                            <a class="btn btn-primary" href="@Url.Action("Edit","DiaChi",new{id=item.Id})">Sửa</a>*@
                                                            <a class="btn btn-warning" href="@Url.Action("Delete","DiaChi",new{id=item.Id})">Xóa</a>
                                                        </td>

                                                    </tr>
                                                }

                                            }
                                       
                                       
                                        </tbody>
                                    </table>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="settings">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">Voucher</th>
                                                <th scope="col">Điều Kiện</th>
                                                <th scope="col">Số Tiền Giảm</th>
                                                <th scope="col">Phần Trăm</th>
                                                <th scope="col">Ngày Bắt Đầu</th>
                                                <th scope="col">Ngày Kết Thúc</th>
                                                <th scope="col">Số Lượng</th>
                                                <th scope="col">Mô Tả</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in listVoucher)
                                            {
                                                <tr>
                                                    <th scope="row">@(stt+1)</th>
                                                    <td><span>@item.Ten</span></td>
                                                    <td><span>@item.DieuKien</span></td>
                                                    <td><span>@item.SoTienGiam</span></td>
                                                    <td><span>@item.PhanTram</span></td>
                                                    <td><span>@item.NgayBatDau</span></td>
                                                    <td><span>@item.NgayKetThuc</span></td>
                                                    <td><span>@item.SoLuong</span></td>
                                                    <td><span>@item.MoTa</span></td>
                                                                                                   
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    </section>
</div>


