@model AppData.ViewModels.CTSanPhamVM

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CTSanPhamVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gianhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gianhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giaban)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giaban)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChatLieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChatLieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaSanXuat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaSanXuat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMauSac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMauSac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDanhMuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDeGiay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDeGiay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGiamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeGiay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeGiay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
